Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

! Urxvt
URxvt*font: xft:JetBrainsMono Nerd Font:size=10,xft:Symbols Nerd Font-6
URxvt*letterSpace: 0
URxvt*scrollBar: false
URxvt*internalBorder: 16

! window padding
st.borderpx: 25

!-- values between 0.1  - 1.0 --! 

st.alpha: 1.0
st.font: RobotoMono Nerd Font:style:medium:pixelsize=12

!-- colors --!

*.foreground:   #a5b6cf
*.background:   #0d0f18
*.cursorColor:  #151720
*fading: 35

*.color0: #151720
*.color1: #dd6777
*.color2: #90ceaa
*.color3: #ecd3a0
*.color4: #86aaec
*.color5: #c296eb
*.color6: #93cee9
*.color7: #cbced3

*.color8: #262831
*.color9: #e26c7c
*.color10: #95d3af
*.color11: #f1d8a5
*.color12: #8baff1
*.color13: #c79bf0
*.color14: #98d3ee
*.color15: #d0d3d8
